[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
attrs = "==19.3.0"
audioread = "==3.0.0"

[dev-packages]

[requires]
python_version = "3.11"
